/* SECTIONS ----------- */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: grey;
	background-color: white;
}
.container {
	margin-right: auto;
	margin-left: auto;
}
img.img-responsive {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	width:100%;
}
.jumbotron {
	font-size: 21px;
	font-weight: 200;
	color: inherit;
	background-color: #D2E4D2;
}


/* BUTTONS ----------- */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus {
	background-color:green;
	color: #006600;
	text-decoration: none;
}
.btn-success {
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

/* CIRCLES ----------- */
svg {
	height: 200px;
}
circle {
	background: #5cb85c;
}
circle:hover {
	background: green;
}
.row1 {
	cy:20%;
}

circle {
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	background: green;
}

.blobs {
	display: block;
	width: 5%;
	border-radius: 66px;
	border: 5px double #ccc;
	background: #5cb85c;
}

.blobs:hover {
	border: 5px double #bbb;
	color: #aaa;
	background: green;
}

/* RESPONSIVE ----------- */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	body {
		padding-bottom:20px;
		padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	.jumbotron {
		padding: 20px;
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 1.3;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	svg {
		height: 100px;
	}
}

@media only screen
and (min-width : 481px)
and (max-width : 767) {
	body {
		padding-bottom:20px;
		padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	.jumbotron {
		padding: 30px;
		margin-bottom: 30px;
		font-size: 22px;
		line-height: 1.7;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	svg {
		height: 150px;
	}
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
		padding-bottom:60px;
		padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	.jumbotron {
		padding: 30px;
		margin-bottom: 30px;
		line-height: 2.1428571435;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1023px) {
	body {
		margin-left: 20%;
		margin-right: 20%;
		padding-bottom:60px;
		padding-top: 0px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	.jumbotron {
		padding: 30px;
		margin-bottom: 30px;
		line-height: 2.1428571435;
	}
	.container {
		padding: 50px;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}