body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: grey;
	background-color: white;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn:hover,
.btn:focus {
	color: #006600;
	text-decoration: none;
}
.btn-success {
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px)
and (max-width: 923px) {
/* Styles */
	body {
		padding-bottom:20px;
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	img.img-responsive {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
		width:100%;
	}
	.jumbotron {
		padding: 15px;
		margin-bottom: 30px;
		font-size: 21px;
		font-weight: 200;
		line-height: 2.1428571435;
		color: inherit;
		background-color: #D2E4D2;
	}
	.container {
		margin-right: auto;
		margin-left: auto;
		padding-left: 10px;
		padding-right: 10px;
	}
}



/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 924px) {
	body {
		padding-left: 20%;
		padding-right:20%;
		padding-bottom:60px;
		padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	}
	img.img-responsive {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 30px;
		width:100%;
	}
	.jumbotron {
		padding: 30px;
		margin-bottom: 30px;
		font-size: 21px;
		font-weight: 200;
		line-height: 2.1428571435;
		color: inherit;
		background-color: #D2E4D2;
	}
	.container {
		margin-right: auto;
		margin-left: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}