/* BASIC */
html {
  height: 100%
}

body {
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.sidePadding {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vw;
}

.container {
  width: 100vw;
  padding: 0px;
}

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
.header {
  border-bottom: 1px solid #e5e5e5;
}
  /* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar, .navbar-static-top {
  padding-top:15px;
   background-color: transparent;
   background: transparent;
   font-size: larger
}
.navbar li { color: #000 }

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-toggle {
  color: #F8F36C;
}

/* FOOTER */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* MENU */
.dropItems {
  cursor: pointer;
  min-width:100px;
  font-size: 15px;
}

/* BUTTON */
.btn-default {
  min-width: 100px;
}

.btn {
  margin: 10px;
}

/* TABLE */
.table-borderless th {
  padding-right:200px;
  vertical-align: top;
  border: 0;
}

.table-borderless td {
  padding:10px;
  vertical-align: top;
  border: 0;
}

/* VISUAL ELEMENTS */
code {
  color: "black";
}
.backgroundPhoto{
  background-image: url(../images/seattle/moss.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.coverPhoto {
  height: 100%;
  padding-bottom: 150px;
}
input {
  padding: 5px;
  margin: 10px;
}
.img-large {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
  padding-bottom: 20px;
}

.tile {
  float: left;
  position: relative;
  height: 130px;
  width: 130px;
  cursor: pointer;
  margin: 10px;
}

.tileScroll {
  overflow-y: scroll;
  height:80vh;
}

.tileTitle {
  padding-top: 15px;
  padding-left: 30px;
  text-align:left;
  font-size:larger;
  color:#F8F36C;
}
h1 {
  color: white;
}
a {
  color: #4EA138;
}
.scroller {
  margin-top: 20px;
  max-height: 500px;
  overflow: auto;
  list-style-type: none;
  padding: 0px;
  padding-bottom:20vh;
}
.fa-large {
  font-size: 7em;
  padding: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  
  .col-xs-3 {
    min-width: 150px;
  }

  .backgroundPhoto{
    background-image: url(../images/seattle/mossSmall.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */
  .coverPhoto {
    height: 70%;
    padding-bottom: 0px;
  }
  .block {
    margin: 10px;
    margin-bottom: 100px;
  }
  
  .table-borderless td {
    padding-left:10px;
    vertical-align: top;
    border: 0;
  }
  
  .img-large {
    padding-bottom: 20px;
  }
  
  .tile {
    height:70px;
    width:70px;
  }
  .backgroundPhoto{
    background-image: url(../images/seattle/mossSmaller.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
}