<div class="sidePadding">
    <h1>Freshman</h1>
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Fall</h1>
        </th>
        <td>
          <h2>Success</h2>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Winter</h1>
        </th>
        <td>
          <h2>Success</h2>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Spring</h1>
        </th>
        <td>
          <h2>Success</h2>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Summer</h1>
        </th>
        <td>
          <h2>Success</h2>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    
    <h1>Sophomore</h1>
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Fall</h1>
        </th>
        <td>
          <h2>Success</h2>
          <ul>
            <li>getting intel internship</li>
            <li>working hard on studies</li>
          </ul>
        </td>
        <td>
          <h2>Lessons</h2>
          <ul>
            <li>dont compare self to people all the time</li>
            <li>realizing the level of control I have over my own happiness</li>
            <li>me123: design principles that apply to cse</li>
          </ul>
        </td>
        <td>
          <h2>Goals</h2>
          <ul>
            <li>get internship</li>
            <li>get to know acquiantences better</li>
            <li>meet new people</li>
          </ul>
        </td>
      </tr>
    </table>
    
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Winter</h1>
        </th>
        <td>
          <h2>Activities</h2>
        </td>
        <td>
          <h2>Success</h2>
          <ul>
            <li>Research</li>
            <li>spring break: skiing for first time</li>
          </ul>
        </td>
        <td>
          <h2>Goals</h2>
          <ul>
            <li>be one of those peole always doing interesting things, always smiling</li>
            <li>work smarter, since harder didnt work last quarter</li>
            <li>neater handwriting</li>
            <li>definition of success</li>
            <li>journaling</li>
          </ul>
        </td>
      </tr>
    </table>
    
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Spring</h1>
        </th>
        <td>
          <h2>Activities</h2>
        </td>
        <td>
          <h2>Success</h2>
          <ul>
            <li>honors english: volunteer at 206 zulu</li>
          </ul>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Summer</h1>
        </th>
        <td>
          <h2>Activities</h2>
        </td>
        <td>
          <h2>Success</h2>
          <ul>
            <li>Internship</li>
            <li>skiing on black diamond, overcoming fear</li>
            <li>moving to new place and becoming familiar w area</li>
            <li>balancing work, social life, home maintenance, cooking, exercise, org responsibilities</li>
            <li>returning offer for intel: torn between two different career tracks</li>
          </ul>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
</div>