<div class="parallax" style="padding-bottom:20vh">
	<div id="group1" class="parallax__group" style="height:140vh">
		<div class="parallax__layer parallax__layer--base">
			<div class="sidePadding">
				<h1>Sophomore</h1>
				<h3>Fall</h3>
				<p><strong>Goal: </strong>get technical internship for summer 2014</p>
				<p><strong>Learned: </strong>I am in control of my own happiness</p>
				<p><strong>Achieved: </strong>accepted internship offer from Intel</p>
				<p><strong>Courses: </strong>CSE311, ME123, CSE390, ESS102</p>
				<h4>Design principles</h4>
				<p>
					I signed up for an introductory Mechanical Engineering class for fall quarter. I'd missed
					working on visual projects, and was looking forward to learning about CAD. The courses'
					lectures covered industry standards and terminology, with lab time for using CAD software.
					By the end of the course, I was using Soldworks to model the Atlas helicopter, a bicycle-
					powered helicopter.
				</p>
				<p>
					At the beginning of the quarter I would leap in and start modeling right away. This
					approach was fine initially, but projects quickly became more demanding.
					The decisions I made early on heavily influenced how easily I could correct mistakes.
					By tying a component's references to certain objects, I would severely limit my ability to
					re-size and manipulate that piece several steps down the line.
				</p>
				<p>
					After struggling with the ramifications of my headfirst strategy, I realized
					my original approach was not scaling with the complexity of the homework assignments.
					I realized I needed to make deliberate decisions about my models' structure.
					I forced myself to slow down. Analyzing the model before jumping into the software,
					I would build a mental road map for which components formed the underlying structure,
					how they should relate to each other, and how other parts should relate to the base form.
					The initial time investment paid off since I spent far less time debugging later in the
					construction. 
				</p>
				<p>
					These two principles, planning before building and simplifying object relationships, are
					critical in computer science. The code I wrote before and after fall quarter shifted in
					quality as I applied these concepts. I am able to develop maintainable code more quickly.
					When I noticed the connection between CAD modeling and software design, I realized these
					concepts can be applied to almost any field.
				</p>
				
				<h3>Winter</h3>
				<p><strong>Goal: </strong>get technical internship for summer 2014</p>
				<p><strong>Learned: </strong>I am in control of my own happiness</p>
				<p><strong>Achieved: </strong>skiing</p>
				<p><strong>Courses: </strong>CSE331, INFO101, MATH308, research</p>
				<h4>Goals</h4>
				<ul>
					<li>be one of those people always doing interesting things, always smiling</li>
					<li>work smarter, since harder didn't work last quarter</li>
					<li>neater handwriting</li>
					<li>definition of success</li>
					<li>journalism</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="group2" class="parallax__group" style="height:60vh; margin-bottom:30vh">
		<div class="parallax__layer parallax__layer--base">
			<div class="centeredContent">
				<h3>Spring</h3>
				<p><strong>Goal: </strong></p>
				<p><strong>Learned: </strong></p>
				<p><strong>Achieved: </strong></p>
				<p><strong>Courses: </strong>CSE332, CSE351, MATH307, HONORS212 (Seattle Literature)</p>
				stuff
			</div>
		</div>
		<div class="parallax__layer parallax__layer--back" style=" margin-top:35vh">
			<div class="leftContent">
				<img src="../images/seattle/ski.png" style="height:40vh">				
			</div>
			<div class="rightContent" style="left:85vw">
				<img src="../images/seattle/duck.png" style="height:50vh">				
			</div>
		</div>
	</div>
	<div id="group3" class="parallax__group" style="height:100vh">
		<div class="parallax__layer parallax__layer--fore">
			<div class="" style="margin-top:50vh; margin-left:5vw">
				<img src="../images/oregon/flowers.png" style="height:40vh">
			</div>
			<div class="rightContent" style="left:85vw; margin-top:200px">
				<img src="../images/oregon/plane.png" style="height:40vh">				
			</div>
			<div class="leftContent" style="left:10vw">
				<img src="../images/oregon/sachAndJeremy.png" style="height:40vh" >
			</div>
		</div>
		<div class="parallax__layer parallax__layer--base">
			<div class="centeredContent">
				<h3>Summer</h3>
				<p><strong>Goal: </strong>grow Intel network, full stack web development, learn about
					Intel's sectors and strategies for competing in markets with very low margins
				</p>
				<p><strong>Learned: </strong>beaurocratic structure of large company, front and
					back end web development, time management (balancing work/school/social/personal commitments)
				</p>
				<p><strong>Achieved: </strong>strong relationships in different sectors of Intel, returning
					offer for internship</p>
				<p><strong>Activities: </strong>web app developer for Intel Corp. Services & Foundry IT</p>
				<h3>Success</h3>
				<ul>
					<li>Internship</li>
					<li>skiing on black diamond, overcoming fear</li>
					<li>moving to new place and becoming familiar w area</li>
					<li>balancing work, social life, home maintenance, cooking, exercise, org responsibilities</li>
					<li>returning offer for Intel: torn between two different career tracks</li>
				</ul>
			</div>
		</div>
	</div>
	<!--
	<div id="group4" class="parallax__group">
		<div class="parallax__layer parallax__layer--base">
			<div class="centeredContent">and finding great solutions to hard problems.</div>
		</div>
		<div class="parallax__layer parallax__layer--back">
			<div class="centeredContent" style="padding-bottom: 60vh">
				<i class="fa fa-cog fa-5x fa-spin"></i>
				<p>I love figuring out how stuff works together.</p>
			</div>
		</div>
	</div>
	<div id="group5" class="parallax__group">
		<div class="parallax__layer parallax__layer--base">
			<div class="centeredContent row">
				<div class="col-sm-3"><a href="#/dashboard"><i class="fa fa-dashboard fa-4x"></i></a></div>
				<div class="col-sm-3"><a href="#/picsOregon"><i class="fa fa-camera fa-4x"></i></a></div>
				<div class="col-sm-3"><a href="#/shouldIBike"><i class="fa fa-bicycle fa-4x"></i></a></div>
				<div class="col-sm-3"><a href="#/musicSearch"><i class="fa fa-headphones fa-4x"></i></a></div>
			</div>
		</div>
	</div>
	-->
</div>



<div class="sidePadding">
    <h1>Freshman</h1>
	<div ng-show="false">
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Fall</h1>
        </th>
        <td>
          <h2>Success</h2>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Winter</h1>
        </th>
        <td>
          <h2>Success</h2>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Spring</h1>
        </th>
        <td>
          <h2>Success</h2>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    <table class="table-borderless block">
      <tr>
        <th scope="row">
          <h1>Summer</h1>
        </th>
        <td>
          <h2>Success</h2>
        </td>
        <td>
          <h2>Lessons</h2>
        </td>
        <td>
          <h2>Goals</h2>
        </td>
      </tr>
    </table>
    </div>
   
    
    
</div>