<table class="table-borderless block">
  <tr>
    <td>
      <h1>Hello</h1>
    </td>
    <td>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget magna arcu. Vivamus scelerisque sollicitudin accumsan. Sed venenatis urna vitae ipsum feugiat, quis sodales arcu sollicitudin. Fusce dui sapien, lacinia id dolor non, lobortis faucibus urna. Pellentesque imperdiet lacus justo, id iaculis nisi vulputate et. Cras sit amet nisl metus. Mauris in ultrices lectus.
      </p>
      <p>
        Nunc tincidunt aliquam metus, quis sagittis erat laoreet a. Praesent nec tristique mi. Duis in tempor diam. Quisque sodales tincidunt nibh, eu dignissim felis auctor eu. In mauris tortor, sodales in pellentesque eget, dapibus eget felis. Mauris vitae dui nec dui auctor sollicitudin feugiat sit amet ipsum. Aenean nec volutpat odio. Donec a lorem congue, convallis libero eget, venenatis sapien. Cras semper volutpat nulla, eleifend lobortis mauris ornare ac. Proin fringilla erat ipsum, vel semper risus iaculis at. Maecenas gravida dolor finibus metus ultrices laoreet. Pellentesque efficitur, ligula in sollicitudin consequat, leo arcu iaculis nibh, in hendrerit leo purus sed ante. Ut est nunc, facilisis sed tellus et, feugiat aliquam tellus. Nam ac est vel urna imperdiet suscipit. Cras convallis nisl elit, sit amet faucibus turpis rutrum at.
      </p>
    </td>
  </tr>
</table>

<table class="table-borderless block">
  <tr>
    <td>
      <h1>Hello</h1>
    </td>
    <td>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget magna arcu. Vivamus scelerisque sollicitudin accumsan. Sed venenatis urna vitae ipsum feugiat, quis sodales arcu sollicitudin. Fusce dui sapien, lacinia id dolor non, lobortis faucibus urna. Pellentesque imperdiet lacus justo, id iaculis nisi vulputate et. Cras sit amet nisl metus. Mauris in ultrices lectus.
      </p>
      <p>
        Nunc tincidunt aliquam metus, quis sagittis erat laoreet a. Praesent nec tristique mi. Duis in tempor diam. Quisque sodales tincidunt nibh, eu dignissim felis auctor eu. In mauris tortor, sodales in pellentesque eget, dapibus eget felis. Mauris vitae dui nec dui auctor sollicitudin feugiat sit amet ipsum. Aenean nec volutpat odio. Donec a lorem congue, convallis libero eget, venenatis sapien. Cras semper volutpat nulla, eleifend lobortis mauris ornare ac. Proin fringilla erat ipsum, vel semper risus iaculis at. Maecenas gravida dolor finibus metus ultrices laoreet. Pellentesque efficitur, ligula in sollicitudin consequat, leo arcu iaculis nibh, in hendrerit leo purus sed ante. Ut est nunc, facilisis sed tellus et, feugiat aliquam tellus. Nam ac est vel urna imperdiet suscipit. Cras convallis nisl elit, sit amet faucibus turpis rutrum at.
      </p>
    </td>
  </tr>
</table>