<div class="leftContent" style="padding-top:200px">	
	<img src="images/seattle/skyline.jpg" alt="background-color:green" class="img-circle hidden-xs" style="height:40vw; width:40vw">
	<h1>Naomi Musgrave</h1>
	<!--
	<a href="#/caffeine">
		<i class="fa fa-coffee fa-lg"></i>
	</a>
	<a href="#/dashboard">
	  <i class="fa fa-dashboard fa-lg"></i>
	</a>
	<ul>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-camera fa-lg"></i><span class="caret"></span>
			</a>
			<ul class="dropdown-menu dropItems" role="menu">
				<li><a href="#/picsOregon">Oregon</a></li>
				<li><a href="#/picsMusic">Music</a></li>
				<li><a href="#/picsSeattle">Seattle</a></li>
				<li><a href="#/picsProcessing">Image Processing</a></li>
			</ul>
		</li>
	</ul>
	<a href="#/honorsPortfolio">
		<i class="fa fa-university fa-lg"></i>
	</a>
	-->
	<a href="https://github.com/nmusgrave" target="_blank">
		<i class="fa fa-github-square fa-lg"></i>
	</a>
	<a href="http://instagram.com/naomimusgrave" target="_blank">
		<i class="fa fa-instagram fa-lg"></i>
	</a>
	<a href="http://www.linkedin.com/in/naomimusgrave" target="_blank">
		<i class="fa fa-linkedin-square fa-lg"></i>
	</a>
</div>