<!--
<h1>Hey there.</h1>
<p>Nice to meet you. I'm Naomi Musgrave. I'm studying Computer Science at the
University of Washington, and expect to graduate in 2016.
</p>
<h1>Ideas</h1>
<ul>
  <li>css parallax scrolling</li>
  <li>d3 website org</li>
  <li>should i bike today?</li>
  <li>beautiful neighborhood viewer: seattle/pdx</li>
  <li>comprehensive music search: soundcloud, bandcamp, youtube</li>
</ul>
-->
<div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base color1">
        <div class="centeredContent">
          <h1>Hello!</h1>
        </div>
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="centeredContent"><h2>I'm a Computer Science student at the University of Washington.</h2></div>
      </div>
      <div class="parallax__layer parallax__layer--back color2">
        <img src="images/seattle/uw2.jpg" width="100%"/>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="rightContent"><h2>When I'm not programming, I photograph concerts, hike, cycle, and run</h2></div>
      </div>
      <div class="parallax__layer parallax__layer--base color3">
        <div class="leftContent"><h1>Well, most of the time</h1></div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="centeredContent"><h3>and finding great solutions to hard problems.</h3></div>
      </div>
      <div class="parallax__layer parallax__layer--back color4">
        <div class="centeredContent" style="padding-bottom: 60vh">
          <i class="fa fa-cog fa-5x fa-spin"></i>
          <h2>I love figuring out how stuff works together.</h2>
        </div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--base color5">
        <div class="centeredContent row">
          <div class="col-sm-3"><a href="#/dashboard"><i class="fa fa-dashboard fa-4x"></i></a></div>
          <div class="col-sm-3"><a href="#/picsOregon"><i class="fa fa-camera fa-4x"></i></a></div>
          <div class="col-sm-3"><a href="#/shouldIBike"><i class="fa fa-bicycle fa-4x"></i></a></div>
          <div class="col-sm-3"><a href="#/musicSearch"><i class="fa fa-headphones fa-4x"></i></a></div>
        </div>
      </div>
    </div>
  </div>