<div class="sidePadding">
    <div class="row">
        <div class="col-md-6">
            <form>
                <input type="text" ng-model="start" placeholder="start"></input>
                <input type="text" ng-model="end" placeholder="end"></input>
                <br />
                <button type="submit" class="btn btn-success" ng-click="bikeRoute()">
                    <i class="fa fa-bicycle fa-5x"></i>
                </button>
            </form>
            <p>{{result.legs[0].distance.text}}</p>
            <p>{{result.legs[0].duration.text}}</p>
            <p>{{max - min}} foot elevation change</p>
            <div id="elevation_chart" style="width: 100%;"></div>
        </div>
        <div class="col-md-6">
            <div id="map-canvas" style="width:100%; height:200px"></div>
        </div>
    </div>
    
    <h3>Factors to consider:</h3>
    <ul>
        <li>time of request (late at night = go shorter distances)</li>
        <li>weather</li>
        <li>traffic</li>
        <li>elevation change</li>
    </ul>

</div>
