/* Space out content a bit */
html {
  height: 100%
}

body {
  padding-bottom: 20px;
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* CUSTOM FUN STUFF */
.dropItems {
  cursor: pointer;
  min-width:100px;
  font-size: 15px;
}

.btn-default {
  min-width: 100px;
}

.btn {
  margin-left: 20px;
  margin-right: 20px;
}


.img-large {
  padding-top: 20px;
  max-width: 100%;
  max-height:80%;
  height: auto;
  width: auto\9; /* ie8 */
}

.tile {
  float: left;
  position: relative;
  height: 100px;
  cursor: pointer;
  margin: 5px
}

.tileTitle {
  padding-top: 15px;
  padding-left: 30px;
  text-align:left;
  font-size:larger;
  color:#F8F36C;
}

.gradient {
  /*
  background-image: url('../images/oregon/stars1.jpg')
  */
  /*
    linear-gradient(
      #55EFCB, #5BCAFF
    );
    */
}

.scroller {
  margin-top: 20px;
  max-height: 500px;
  overflow: auto;
  list-style-type: none;
  padding: 0px;
}
  
.block {
  margin-bottom:300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.table-borderless th {
  padding-right:200px;
  vertical-align: top;
  border: 0;
}

.table-borderless td {
  padding:10px;
  vertical-align: top;
  border: 0;
}

.navbar, .navbar-static-top {
  padding-top:15px;
   background-color: transparent;
   background: transparent;
   font-size: larger
}
.navbar li { color: #000 }

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .navbar-toggle {
  color: #F8F36C;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */  
  .block {
    margin: 10px;
    margin-bottom: 100px;
  }
  
  .table-borderless td {
    padding-left:10px;
    vertical-align: top;
    border: 0;
  }
  
}